html{
    scroll-behavior: smooth;
    font-size: 10px;
}

::-webkit-scrollbar{
    width:0;
}

* {margin:0; padding: 0;}

body{
    margin:0;
    padding: 0;
    height: 180rem;
    overflow-x: hidden;
}

@font-face{
    font-family: heading;
    src: url("/fonts/Coves\ Bold.otf")
}

@font-face{
    font-family: heading-small;
    src: url("/fonts/Coves\ Light.otf")
}


.intro{
    min-height: 76rem;
    width: 100%;
    background-image: url('/imgs/homepic.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.intro__container{
    position:absolute;
    width: 55rem;
    margin-left: 4%;
    margin-top: 18em;
}

.intro__heading{
    color: white;
    font-family: heading;
    font-size: 15rem;
    margin: 0;
    position: relative;
    line-height: 1em;
}

.intro__subheading{
    color: lightblue;
    font-family: heading-small;
    font-size: 5rem;
    margin: 0;
    margin-top: 0.5em;
    position:relative;   
}

.intro::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
	width: 100%;
    height: 100%;
}

.intro__button{
    position: relative;
    z-index: 2;
    width: 150px;
    height: 55px;
    margin-top: 3rem;
    font-size: 2.5rem;
    border:1px solid white;
    background-color: transparent;
    font-family: heading-small;
    padding: 0.40em 1em;
    color: #eee;
    transition-duration:1.5s;
}

.intro__button:hover{
    border:1px solid rgba(238,238,238,0.4);
    background-color: 1px solid rgba(238,238,238,0.7);
}

.intro__button a {
    color: #eee;
    text-decoration: none;
    transition-duration: 0.5s;
}

.intro__button a:hover {
    color:rgba(238,238,238,0.7);
}


.intro__button svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #add8e6;
    stroke-width:3px;
    stroke-dasharray: 160 480;
    stroke-dashoffset: 160;
    transition: 1.5s ease;
}  
.intro__button:hover svg {
    stroke-dashoffset: -480;
}

#intro__linkedin{
    font-size: 5rem;
    z-index: 1;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    filter: brightness(110%);
    transition: all .5s ease-in-out;
    color: white;
}

#intro__linkedin:hover{
    color: #0E76A8;
}

#intro__github{
    font-size: 5rem;
    z-index: 1;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    filter: brightness(110%);
    transition: all .5s ease-in-out;
    color: white;
}


#intro__github:hover{
    color: purple;
}


.intro__socialicons{
    width: 10%;
    position:relative;
    margin-top:68rem;
    margin-right: 4rem;
    float:right;
}

#nav__image{
    height: 13rem;
    cursor: pointer;
    margin-right:2em;
    margin-left: 2em;
    transition: all 1s ease;
    margin-top: -2em;
}

#nav__image:hover{
    filter: brightness(70%);
}

header{
    height: 8rem;
    top: 0;
    margin: 0;
    position: fixed;
    z-index: 5;
    color: white;
    width: 100%;
    background-color: transparent;
    padding: 2em;
    transition-timing-function: ease;
    transition-duration: 500ms;
}

header.sticky{
    padding: 0.5em;
    background-color: lightblue;
    color: black;        
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 95%;
    margin: 0;
}

header ul li{
    display: inline;
    margin-right: 2em;
}

.nav__links{
    color:white;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: heading-small;
    margin-top: -3em;
    transition-duration: 0.5s;
}

.nav__links:hover{
    color: lightblue;
}

.nav__links.stick{
    color: black;
}

.nav__links.stick:hover{
    color:white;
}

.about{
    height: 80rem;
    width: 100%;
    background-color:white;
}

.about__container{
    margin-top: 4rem;
    margin: 0 auto;
    width: 70%;
    border: 3px solid black;
    display: flex;
}

.about__content{
    width: 50%;
    font-family: heading-small;
    font-size: 5rem;
}

.project{
    height:auto;
    background-color:#eee;
    width: 100%;
    border: .1px solid transparent;
}

.project__container{
    width: 80%;
    margin: 0 auto;
    margin-top: 0.5em;
    display:grid;
    grid-auto-rows: minmax(35rem, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.project__heading{
    font-family: heading;
    text-align:center;
    opacity: 0.85;
    margin-bottom:3rem;
    margin-top: 10rem;
    font-size: 7rem;
}

.project__overlay{ 
    position: relative;
    width: 100%;
    height: 14rem;
    z-index: 3;
    padding-bottom: 1em;
}

.project__overlaytext{
    position:relative;
    color: transparent;
    font-family: heading-small;
    font-size: 2rem;
    padding: 0.75em;
    visibility: hidden;
    transition-duration: 0.6s;
    z-index:4;
}

.project__overlaytext a{
    text-decoration: underline;
}

.project__overlay:hover > .project__overlaytext{
    visibility: visible;
    color: white;
}

.project__col{
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.project__col--checkers{
    background-image: url(imgs/checkers.jpg);
    background-position: center;
    background-size: cover;
}

.project__col--sudoku{
    background-image: url(imgs/sudoku.jpg);
    background-position: center;
}

.project__col--reddit{
    background-image: url(imgs/reddit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.project__col--garden{
    background-image: url(imgs/garden.jpg);
    background-size: cover;
}

.project__col--website2019{
    background-image: url(imgs/pro.PNG);
    background-position: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 15%;

}

.project__overlay::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.6;
	width: 100%;
    height: 0;
    transition-duration: .65s;
    transition-timing-function: ease-out;
    bottom: 0;
}

.project__overlay:hover::before{
    height: 100%;
}

.project__overlaytext i{
    transition: all 0.4s ease-in;
    margin-left: 20rem;
    font-size:30px;
    color: white;
}

.project__overlaytext i:hover{
    filter: brightness(60%);
}


@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}

.scroll-icon {
    margin-left: 74rem;
    margin-bottom: 4rem;
    transform: scale(1.5);
    display: block;
    position: relative;
    height: 3em;
    width: 1.5em;
    border: .15em solid #fff;
    border-radius: 1em;
}
  
.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6em;
  height: 1em;
  width: .4em;
  margin-left: -.2em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 2.75s ease-in-out infinite;
}