html{
    scroll-behavior: smooth;
    font-size: 10px;
}


* {margin:0; padding: 0;}

iframe {
    width: 90%;
    margin: 0 20px;
}
body{
    margin:0;
    padding: 0;
    height: 180rem;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
@font-face{
    font-family: heading;
    src: url("/fonts/Coves\ Bold.otf")
}

@font-face{
    font-family: heading-small;
    src: url("/fonts/Coves\ Light.otf")
}


.intro{
    min-height: 100vh;
    width: 100%;
    background-image: url('/imgs/homepic-1.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.intro__container{
    position:absolute;
    width:45%;
    margin-left: 4%;
    margin-top: 18em;
}

.intro__heading{
    color: white;
    font-family: heading;
    font-size: 15rem;
    margin: 0;
    position: relative;
    line-height: 1em;
}

.scroll-text{
    color: white;
    font-family: heading;
    font-size: 17px;
    margin: 0;
    position: relative;
    top: 95vh;
    text-align:center;
    transform: translateX(10px);
}
.intro__subheading{
    color: lightblue;
    font-family: heading-small;
    font-size: 4.5rem;
    margin: 0;
    margin-top: 0.5em;
    position:relative;   
}

.intro::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
	width: 100%;
    height: 100%;
}

.intro__button{
    position: relative;
    z-index: 2;
    width: 150px;
    height: 50px;
    margin-top: 3rem;
    font-size: 2.5rem;
    border:1px solid black;
    background-color: transparent;
    font-family: heading-small;
    padding: 0.40em 1em;
    color: white;
    transition: color 1.5s linear;
    transition: border 0.3s linear;
}

.intro__button:hover {
    border: 1px solid white;
}

.intro__button a {
    color: black;
    text-decoration: none;
    transition-duration: 1s;
}

.intro__button a:hover {
    color:white;
}

.intro__button svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke:white;
    stroke-width:3px;
    stroke-dasharray: 160 580;
    stroke-dashoffset: 160;
    transition: 1s ease;
}  

.intro__button:hover svg {
    stroke-dashoffset: -480;
}

#intro__linkedin{
    font-size: 4.5rem;
    z-index: 1;
    margin-bottom: 0.5rem;
    filter: brightness(110%);
    transition: all .5s ease-in-out;
    color: white;
}

#intro__linkedin:hover{
    color: #0E76A8;
}

#intro__github{
    font-size: 4.5rem;
    z-index: 1;
    margin-left: 1.75rem;
    margin-bottom: 0.5rem;
    filter: brightness(110%);
    transition: all .5s ease-in-out;
    color: white;
}


#intro__github:hover{
    color: purple;
}


.intro__socialicons{
    width: 10%;
    position:relative;
    margin-top:63rem;
    float:right;
    margin-right: 2rem;
}

#nav__image{
    height: 13rem;
    cursor: pointer;
    margin-right:2em;
    margin-left: 2em;
    transition: all 1s ease;
    margin-top: -2em;
}

#nav__image:hover{
    filter: brightness(80%);
}

header{
    height: 8rem;
    top: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    color: white;
    width: 100%;
    background-color: transparent;
    padding: 2em;
    transition-timing-function: ease;
    transition-duration: 500ms;
}

header.sticky{
    padding: 0.5em;
    background-color: lightblue;
    color: black;        
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 95%;
    margin: 0;
}

header ul li{
    display: inline;
    margin-right: 2em;
}

.nav__links{
    color:white;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: heading-small;
    margin-top: -3em;
    transition-duration: 0.5s;
}

.nav__links:hover{
    color: lightblue;
}

.nav__links.stick{
    color: black;
}

.nav__links.stick:hover{
    color:white;
}

.menuIcon1, .menuIcon2, .menuIcon3{
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    transition-duration: 0.5s;
}

.change .menuIcon1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menuIcon2 {
    opacity: 0;
}

.change .menuIcon3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.menuContainer{
    display: none;
}

.navDropdown{
    transform: translateY(0%);
    opacity: 0;
    z-index: 4;
}

.drop .navDropdown {
    transform: translateY(0%);
    opacity: 1;
    display: block;
}

.skills{
    min-height: 65vh;
    padding: 1rem;
    background-color:#f8f9fa;
}

.skills__heading{
    text-align: center;
    padding-top: 9rem;
    display: block;
    font-family:heading;
    font-size: 5.5rem;
}

.skills__container{
    width: 80%;
    margin: 5rem auto;
    padding: 0.5rem;
    display:flex;
    justify-content: space-between;
}

.skills__col1, .skills__col2, .skills__col3, .skills__col4 {
    width: 22%;
    text-align: center;
}

.skills__icon{
    height: 90px;
}

.skills__subheading{
    font-family: heading-small;
    font-size: 3rem;
    margin: 0;
}

.skills__list{
    font-size: 2rem;
    margin-top: 0.5rem;
    font-family:heading-small;
    text-align: left;
    transform: translateX(45px);
    margin-left: 0;
    width:100%;
    display: inline-block;
}

.about{
    min-height: 80rem;
    width: 100%;
    background-color:white;
}

.about__heading{
    text-align: center;
    margin-top: 9rem;
    padding-top: 2rem;
    margin-bottom: 4rem;
    font-family:heading;
    font-size: 5.5rem;
}

.about__container{
    margin:0 auto;
    width: 75%;
    display: flex;
}

button{
    cursor:pointer;
}

.about__content{
    height: auto;
    width: 50%;
    font-family: heading-small;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom:16rem;
    margin-right: 5rem;
    padding: 2em;
    box-shadow: 8px 8px 6px -6px rgba(0,0,0,0.3);
    background-color:lightblue;
}

.about__profile{
    height: 60rem;
    box-shadow: 8px 8px 6px -6px rgba(0,0,0,0.3);
}

.project{
    min-height: 115vh;
    background-color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.project__container{
    width: 90%;
    margin: 0 auto;
    margin-top: 0.5em;
    display:grid;
    grid-auto-rows: minmax(32rem, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.5em;
} 

.project__heading{
    font-family: heading;
    text-align:center;
    transform: translateY(-5rem);
    margin-bottom: 1.5rem;
    font-size: 5.5rem;
}

.project__overlay{ 
    position: relative;
    width: 100%;
    height: 14rem;
    z-index: 3;
    padding-bottom: 1em;
}

.project__overlaytext{
    position:relative;
    color: transparent;
    font-family: heading-small;
    font-size: 2rem;
    padding: 0.75em;
    visibility: hidden;
    transition-duration: 0.6s;
    z-index:4;
}

.project__overlaytext a{
    text-decoration: underline;
    cursor: pointer;
}

.project__overlay:hover > .project__overlaytext{
    visibility: visible;
    color: white;
}

.project__col{
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    box-shadow: 8px 8px 6px -6px rgba(0,0,0,0.3);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: #f4f4f4;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 20vh auto;
    height: 500px;
    max-width: 500px;
    padding-bottom: 1rem;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: modalopen;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.modal-close{
    color: grey;
    font-size: 4rem;
    margin-right: 2rem;
    float:right;
    transition-duration: 0.5s;
}

.modal-close:hover, .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__header{
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}

.modal__heading{ 
    font-family: heading;
    font-size: 3.5rem;
    margin: 0.5rem;
    float: left;
}

.modal__heading a {
    transition-duration: 0.5s;
    text-decoration: none;
    color: black;
}

.modal__heading a:hover {
    opacity: 0.6;
}

.modal__subheading{
    font-family: heading-small;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.modal__description{
    font-size: 2rem;
    font-family:heading-small;
    margin-left: 2rem;
    margin-right: 2rem;
}

@keyframes modalopen{
    from{transform: translateY(-20%); opacity: 0;}
    to{transform: translateY(0%); opacity: 1;}
}

.view-github a{
    text-align: center;
    margin: 3rem 63rem;
    text-decoration: none;
    font-family: heading-small;
    display: inline-block;
    font-size: 2.5rem;
    transition-duration: 0.5s;
}

.view-github a:hover {
    color: lightblue;

}

.project__col--checkers{
    background-image: url(imgs/checkers.jpg);
    background-position: center;
    background-size: cover;
}

.project__col--sudoku{
    background-image: url(imgs/sudoku.jpg);
    background-position: center;
}

.project__col--reddit{
    background-image: url(imgs/reddit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.project__col--garden{
    background-image: url(imgs/garden.jpg);
    background-size: cover;
}

.project__col--calculator{
    background-image: url(imgs/pro.PNG);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

.project__col--asteroids{
    background-image: url(imgs/asteroids.png);
    background-size: cover;
    background-position-x: 50%;
}

.project__overlay::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.6;
	width: 100%;
    height: 0;
    transition-duration: .65s;
    transition-timing-function: ease-out;
    bottom: 0;
}

.project__overlay:hover::before{
    height: 100%;
}

.project__overlaytext i{
    transition: all 0.4s ease-in;
    margin-left: 20rem;
    font-size:30px;
    color: white;
}

.project__overlaytext i:hover{
    filter: brightness(60%);
}


@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}

.scroll-icon {
    margin-top: 64rem;
    margin-left: 50%;
    transform: scale(1.5);
    display: block;
    position: absolute;
    height: 3em;
    width: 1.5em;
    border: .15em solid #fff;
    border-radius: 1em;
}
  
.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6em;
  height: 1em;
  width: .4em;
  margin-left: -.2em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 3s ease-in-out infinite;
}

.startup{
    min-height: 90vh;
    padding: 2rem;
    background-color: #f8f9fa;
}

.startup__container{
    width: 75%;
    display:flex;
    min-height: 38rem;
    margin: 6rem auto;
    justify-content: space-between;
}


.startup__col1{
    width: 55%;
    box-shadow: 8px 8px 6px -6px rgba(0,0,0,0.3);
    background-color: lightblue;
    padding: 20px;
}

.startup__col2{
    width:40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.startup__heading{
    position:relative;
    padding-top: 9rem;
    font-size: 5.5rem;
    font-family: heading;
    text-align: center;
}

.startup__heading span{
    transition: 0.5s ease-in;
}
.startup__heading span:hover{
    color: white;
}


.startup__info {
    padding: 2rem;
    font-size: 2.5rem;
    font-family: heading-small;
}

.startup__date{
    font-size: 3rem;
    font-family:heading-small;
    margin-bottom: 1rem;
}

.startup__otherheading{
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 4000;
    font-family: heading-small;
}

.startup__read{
    font-size: 2rem;
    font-family: heading-small;
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 1s;
}

.startup__read:hover{
    opacity: 1;
}


.startup__img{
    height: 90%;
    box-shadow: 8px 8px 6px -6px rgba(0,0,0,0.3);
}

.contact{
    background-color: white;
    height: 50vh;
}

.contact__container{
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}

.contact__boxes{
    font-size: 2rem;
    height: 3.5rem;
    margin-bottom: 1rem;
    border: 2px solid black;
    transition-duration: 0.2s;
}

.contact__button{
    padding: 1em;
    font-family: heading;
    border: 2px solid black;
    background-color: white;
    transition-duration: 0.2s;
}

.contact__button:hover{
    background-color: black;
    color: lightblue;
}


textarea{
    width: 100%;
    min-height: 15rem;
    font-family: heading-small;
}

textarea:focus{
    outline: none;
    border: 2px solid lightblue;
}

.contact__row1{
    width: 100%;
    display:flex;
}

.contact__col1{
    width: 35%;
}

.contact__col2{
    margin-left: 3%;
    width: 72%;
}

label{
    font-family:heading;
    display:block;
    margin-bottom: 0.1em;
    font-size: 1.5rem;
}

input{
    width: 100%;
    font-family:heading-small;
}

input:focus{
    outline: none;
    border: 2px solid lightblue;
}

.contact__footer{
    text-align: center;
    font-family:heading-small;
    font-size: 2.5rem;
    margin-top: 8rem;
    padding-bottom: 2rem;
}

.contact__Hcontainer{
    width: 70%;
    display: flex;
    margin: 6rem auto;
}

.contact__Hcol1{ 
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__Hcol2{
    width:93%;
    text-align: center;
    font-size: 5.5rem;
    font-family: heading;
}

.contact__Hcol1 a{
    transition: ease 0.5s all;
    text-decoration: none;
    color: grey;
}

.contact__Hcol1 a:hover{
    color: lightblue;
}

.fade{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.on{
    opacity: 100%;
    transform: translateY(0);
}
@media (max-width: 900px) {
    .nav__links{
        font-size: 2rem;
    }

    .intro__socialicons{    
        margin-top: 63rem;
        margin-left:10rem;
    }
    
    .intro__container{
        margin-top: 30rem;
        width: 90%;
    }

    .intro__heading{
        font-size: 8rem;
    }
    .intro__subheading{
        font-size: 4rem;
    }

    .about__content{
        width: 90%;
        margin: 2rem auto;
        font-size: 2rem;
        padding: 1em;
    }

    .about__heading{
        margin-bottom: 2rem;
    }

    .about__container{
        flex-direction:column-reverse;
        width:  90%;
    }

    .about__profile{
        margin-top:2rem;
        width: 70%;
        display: block;
        margin: auto;
    }

    .project{
        padding:2em;
    }

    .project__container{
        width: 80%;
        margin: 0 auto;
        margin-top: 0.5em;
        display:grid;
        grid-auto-rows: minmax(32rem, auto);
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3.5em;
    }

    .contact__container{
        width: 90%;
    }

    .contact__row1{
        flex-direction: column;
    }
    .contact__col1, .contact__col2{
        width: 100%;
        margin-left:0;
    }

    .skills__container{
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .skills__col1, .skills__col2, .skills__col3, .skills__col4{
        width:100%;
        padding: 1.5rem;
    }

    .startup__container{
        flex-direction: column;
        width: 85%;
    }

    .startup__img{
        display: none;
    }

    .startup__col1, .startup__col2{
        width: 100%;
    }

    .menuContainer{
        display: block;
        margin-bottom: 3rem;
        margin-right: 2rem;
    }

    .navContainer{
        display: none;
    }
}